table {
    width: 30%;
    border-collapse: collapse;
    margin: 10px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr {
    background-color: #f2f2f2;
  }

  .h1{
    display: flexbox;
    align-items: center;
    }